/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(216,217,219,255);
    height: 2.5rem;
}

footer {
    background-color: rgb(66,110,236);
}

.header_page {
    background-color: rgba(190,186,192,255);
    height: 2.5rem;
    padding-top: 0.75rem;
}

.row>section {
    background-color: rgba(217,129,125,255);
    height: 1rem;
    border: 1px dashed black;
}

.container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;   
}

.col-1 {
    width: 10%;

}

.col-2 {
    width: 20%;
}

.col-4 {
    width: 40%;
}

.col-8 {
    width: 60%;
}


.image {
    background-color: rgba(149,168,227,255);
    height: 15rem;
    padding-top: 1.5rem;
}

.download {
    background-color:rgba(171,174,189,255);
    height: 10rem;
    width: 45%;
    margin: auto;
    border: 1px dashed black;
}

.yellow {
    background-color: rgba(249,217,156,255);
    height: 10rem;
    margin-top: 2rem;
    padding-top: 1rem;
}

.brown {
    background-color: rgba(205,193,171,255);
    height: 8rem;
}
.brown>div {
    background-color: rgba(142,225,169,255);
    height: 6rem;

}

.card {
    background-color: rgba(133,192,198,255);
    height: 4rem;
    margin: 1rem;
}

.center {
    justify-content: space-around;
    align-items: center;
}

.main_bottom {
    margin-top: 6rem;
    margin-bottom: 4rem;
    height: 20rem;
    background-color: rgba(249,217,156,255);
}

/* footer */

footer {
    padding-bottom: 4rem;
}


.dark_grey {
    background-color: rgba(163,153,162,255);
    height: 25rem;
}


.grey {
    background-color: rgba(170,168,173,255);
}

.logo, .button {
    height: 2rem;
    width: 5rem;
    background-color: rgba(249,217,156,255);
}



.top {
    height: 10rem;
    justify-content: space-between;

}

.top>div {
    background-color: rgba(249,217,156,255);
}

.mid{
    height: 3rem;
    justify-content: space-between;
    align-items: center;
}

